body {
  height: 100%;
  background: url('../images/band_multi-colored_lines_light_color_43711_1600x900.jpg') rgb(255, 255, 255);
  background-size: cover;
  background-position: left top;
  background-attachment: fixed;
  font: 400 1em/1.38 Helvetica;
  color: rgb(249, 245, 245);
}

.container {
  float: left;
  margin-left: 10%;
}

.container .element {
  width: 15%;
  height: 144px;
  margin-top: 1px;
  background-size: cover;
  background-color: rgb(222, 222, 222);
}

.element {
  float: left;
}

.text {
  position: relative;
  float: left;
  clear: both;
  z-index: 9;
  width: 80%;
  min-height: 36px;
  margin: -67px 0 0 10%;
  font-family: 'Yanone Kaffeesatz';
  font-size: 2em;
  font-weight: 200;
  text-align: center;
  color: rgb(255, 255, 255);
}

.vidcontainer {
  position: relative;
  float: left;
  z-index: 11;
  width: 39.2%;
  height: 251px;
  margin: 23px 0 0 1.60026%;
}

._button {
  display: block;
  position: relative;
  float: left;
  clear: both;
  z-index: 1;
  width: 39.2%;
  height: 237px;
  margin: 23px 0 0 10%;
  border-radius: 3px;
  background-color: rgba(222, 222, 222, 0);
  font-size: 1em;
  font-weight: 400;
  line-height: 1.38;
  text-align: left;
  color: rgb(249, 245, 245);
}

._container {
  width: 79.9947916666%;
  height: 144px;
  margin-top: 22px;
}

.container-2 {
  clear: both;
  width: 80%;
  height: 36px;
  margin-top: 108px;
}

.element-1 {
  position: relative;
  z-index: 0;
  width: 80%;
  height: 80px;
  margin: 49px 0 0 10%;
  background-color: rgb(22, 22, 134);
}

.element-2 {
  background-image: url('../images/1044199_10201379465830851_2071031260_n.jpg');
  background-position: center center;
}

.element-3 {
  margin-left: 1.99232%;
  background-image: url('../images/1173813_10201627537267363_1841634224_n.jpg');
  background-position: center center;
}

.element-4 {
  margin-left: 2.00046%;
  background-image: url('../images/1935046_1166470359051_5861669_n.jpg');
  background-position: center center;
}

.element-5 {
  margin-left: 2.00046%;
  background-image: url('../images/46139_4178592980234_1705036332_n.jpg');
  background-position: center center;
}

.element-6 {
  margin-left: 2.00534%;
  background-image: url('../images/488352_3684155379603_1825090795_n.jpg');
  background-position: left top;
}

.element-7 {
  margin-left: 1.99232%;
  background-image: url('../images/546285_10101061198247010_973195715_n.jpg');
  background-position: left top;
}

@media(max-width: 768px) {
  .container {
    margin-left: 9.99756%;
  }

  .container .element {
    position: relative;
    width: 26.0433886924%;
  }

  .element {
    position: relative;
    z-index: 0;
    margin-left: 9.99756%;
  }

  .text {
    position: relative;
    z-index: 9;
    margin-top: -58px;
    margin-left: 29.59798%;
  }

  .vidcontainer {
    position: relative;
    clear: both;
    z-index: 11;
    margin-left: 1.59912%;
  }

  ._button {
    position: relative;
    z-index: 1;
    width: 67.96875%;
    height: 272px;
    margin-top: 198px;
    margin-left: 16.01359%;
  }

  ._container {
    margin-top: 16px;
  }

  .container .element-2 {
    z-index: 2;
    margin-top: 0;
    margin-left: 7.49765%;
  }

  .container .element-3 {
    z-index: 3;
    margin-top: 0;
    margin-left: 3.40548%;
  }

  .container .element-4 {
    z-index: 5;
    margin-top: 0;
    margin-left: 3.42837%;
  }

  .container .element-5 {
    clear: both;
    z-index: 4;
    margin-top: 13px;
    margin-left: 7.49765%;
  }

  .container .element-6 {
    z-index: 7;
    margin-top: 13px;
    margin-left: 3.41311%;
  }

  .container .element-7 {
    z-index: 6;
    margin-top: 13px;
    margin-left: 3.41311%;
  }

  .container-2 {
    position: relative;
    z-index: 10;
    margin-top: -88px;
  }
}

@media(max-width: 320px) {
  body {
    font-size: 1em;
  }

  .container .element {
    position: relative;
  }

  .element {
    position: relative;
    z-index: 0;
    margin-left: 9.99512%;
  }

  .text {
    position: relative;
    z-index: 9;
    margin-left: 29.59473%;
  }

  .vidcontainer {
    position: relative;
    z-index: 11;
    margin-left: 1.59668%;
  }

  ._button {
    position: relative;
    z-index: 1;
    width: 68.125%;
    height: 436px;
    margin-top: 427px;
    margin-left: 15.98633%;
    line-height: 1;
  }

  ._container {
    margin-left: 9.99512%;
  }

  .container .element-2 {
    z-index: 2;
    width: 39.4579416432%;
    margin-top: 91px;
    margin-left: 7.42889%;
  }

  .container .element-3 {
    z-index: 3;
    width: 39.4579416432%;
    margin-top: 91px;
    margin-left: 5.45721%;
  }

  .container .element-4 {
    clear: both;
    z-index: 5;
    width: 39.8486143328%;
    margin-top: 13px;
    margin-left: 52.35014%;
  }

  .container .element-5 {
    z-index: 4;
    width: 40.2392870223%;
    margin-left: 6.64754%;
  }

  .container .element-6 {
    z-index: 7;
    width: 40.2392870223%;
    margin-left: 4.68197%;
  }

  .container .element-7 {
    clear: both;
    z-index: 6;
    width: 39.4579416432%;
    margin-top: -301px;
    margin-left: 8.10646%;
  }

  .container-2 {
    position: relative;
    z-index: 10;
    margin-top: -481px;
    margin-left: 10%;
  }
}